/* Estilos personalizados */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.navbar {
    background-color: #4b9b9c;
}

.navbar-brand {
    font-weight: bold;
    color: #6a4f94;
}

.navbar-nav .nav-link {
    color: #6a4f94 !important;
}

.navbar-nav .nav-link:hover {
    color: #4c3b69 !important;
}

.carousel-item img {
    height: 400px;
    object-fit: cover;
}

.card-body {
    background-color: #e0bbf1;
}

.card-title {
    color: #4c3b69;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
}

.card-text {
    color: #6a4f94;
}

footer {
    background-color: #6a4f94;
    color: white;
}

footer a {
    color: #d0f0f7;
}

footer a:hover {
    color: #f7c6ff;
}

h2 {
    color: #4c3b69;
    font-size: 2.5rem;
    font-weight: bold;
    font-style: italic;
}

form {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-label {
    color: #4c3b69;
}

.btn {
    background-color: #4b9b9c;
    color: white;
}

.btn:hover {
    background-color: #6a4f94;
}
